@model IEnumerable<WardManagementSystem.Data.Models.Domain.Ward>
@{
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}
<style>
    .container {
        display: flex;
        align-items: flex-start;
        height: 100vh;
        background-image: url('/snake_icon.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        flex-wrap: wrap;
    }

    .card {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        justify-content: space-evenly;
        flex: 1 1 calc(33% - 20px);
    }

    .update-form {
        display: none;
        margin-top: 20px;
        padding: 20px;
        border: 1px solid black;
        border-radius: 5px;
        width: 100%;
    }

        .update-form div {
            margin-bottom: 10px;
        }

        .update-form label {
            display: block;
            margin-bottom: 5px;
        }

    .AddForm {
        display: none;
        margin-top: 20px;
        padding: 20px;
        border: 1px solid black;
        border-radius: 5px;
        width: 100%;
    }

        .AddForm div {
            margin-bottom: 10px;
        }

        .AddForm label {
            display: block;
            margin-bottom: 5px;
        }
</style>
<body>
    <h1>Manage Wards</h1>
    <hr />
    <a class="btn btn-outline-primary" onclick="showAddForm()">Add Ward</a>
    <div class="container">

        @foreach (var item in Model)
        {
            <div class="card">
                <div class="card-title">
                    <h2>@item.WardName</h2>
                    <input type="hidden" name="Id" value="@item.WardID" />
                    <button class="btn btn-outline-secondary" type="submit" onclick="showUpdateForm('@item.WardID','@item.WardName')">Edit</button>
                    <form asp-action="DeleteWard" method="post">
                        <input type="hidden" name="Id" value="@item.WardID" />
                        <button class="btn btn-outline-danger" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        }
        <!--Update Form Code-->
        <div class="update-form" id="updateForm" style="display:none;">
            <h1>Update Ward</h1>
            <form method="post" asp-action="UpdateWard">

                <label for="WardID">WardID:</label>
                <input type="number" id="WardID" name="WardID" required readonly>

                <label for="WardName">Ward Name:</label>
                <input type="text" id="WardName" name="WardName" required>

                <div class="button-container">
                    <button class="btn btn-outline-primary" type="submit">Update Name</button>
                </div>
                <div class="button-container">
                    <button class="btn btn-outline-primary" onclick="HideUpdateForm()" type="submit">Hide</button>
                </div>
            </form>
        </div>
        <!--Add Form Code-->
        <div class="AddForm" id="AddForm" style="display:none;">
            <h1>Add Ward</h1>
            <form method="post" asp-action="AddWard">

                <label for="WardName">Ward Name:</label>
                <input type="text" id="WardName" name="WardName" required>


                <label for="WardNumber">Ward Number:</label>
                <input type="number" id="WardNumber" name="WardNumber" required>

                <div class="button-container">
                    <button class="btn btn-outline-primary" type="submit">Add Ward</button>
                </div>
            </form>
            <div class="button-container">
                <button class="btn btn-outline-primary" onclick="HideAddForm()" type="submit">Hide</button>
            </div>
        </div>
        <a class="btn btn-outline-info" asp-area="" asp-controller="Home" asp-action="Index">
            <h6>Back</h6>
        </a>
    </div>

</body>
<script>

    function showUpdateForm(WardID, WardName) {

        //shows the form
        var updateForm = document.getElementById("updateForm");
        updateForm.style.display = "block";

        //puts the consumableID into the form
        var wardIDInput = document.getElementById("WardID");
        wardIDInput.value = WardID;

        var WardNameInput = document.getElementById("WardName");
        WardNameInput.value = WardName;
    }
        function showAddForm() {
        //shows the form
        var AddForm = document.getElementById("AddForm");
        AddForm.style.display = "block";
    }
    function HideAddForm(){
        var AddForm = document.getElementById("AddForm");
        AddForm.style.display = "none";
    }
        function HideUpdateForm(){
        var updateForm = document.getElementById("updateForm");
        updateForm.style.display = "none";
    }
</script>