@model IEnumerable<WardManagementSystem.Data.Models.Domain.Medication>
@{
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}
<style>
    .container {
        display: flex;
        align-items: flex-start;
        height: 100vh;
        background-image: url('/snake_icon.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        flex-wrap: wrap;
    }

    .card {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        justify-content: space-evenly;
        flex: 1 1 calc(33% - 20px);
    }

    .update-form {
        display: none;
        margin-top: 20px;
        padding: 20px;
        border: 1px solid black;
        border-radius: 5px;
        width: 100%;
    }

        .update-form div {
            margin-bottom: 10px;
        }

        .update-form label {
            display: block;
            margin-bottom: 5px;
        }

    .AddForm {
        display: none;
        margin-top: 20px;
        padding: 20px;
        border: 1px solid black;
        border-radius: 5px;
        width: 100%;
    }

        .AddForm div {
            margin-bottom: 10px;
        }

        .AddForm label {
            display: block;
            margin-bottom: 5px;
        }

    .form-controler {
        width: 300px;
    }
</style>
<body>
    <h1>Manage Medication</h1>
    <hr />
    <a class="btn btn-outline-primary" onclick="showAddForm()">Add Medication</a>

    <form asp-action="ManageMedications" method="get" class="form-controler">
        <label for="Search">Search:</label>
        <input type="text" class="form-control" id="SearchName" name="name">
        <button type="submit" class="btn btn-outline-primary">Search</button>
    </form>

    <div class="container">
        @foreach (var item in Model)
        {
            <div class="card">
                <div class="card-title">
                    <h2>@item.MedicationName</h2>
                    <input type="hidden" name="Id" value="@item.MedicationID" />
                    <button class="btn btn-outline-secondary" type="submit" onclick="showUpdateForm('@item.MedicationID','@item.MedicationType','@item.MedicationName')">Edit</button>
                    <form asp-action="DeleteMedication" method="post">
                        <input type="hidden" name="Id" value="@item.MedicationID" />
                        <button class="btn btn-outline-danger" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        }

        <!--Update Form Code-->
        <div class="update-form" id="updateForm" style="display:none;">
            <h1>Update Medication</h1>
            <form method="post" asp-action="UpdateMedications">

                <label for="MedicationID">Medication ID:</label>
                <input type="number" id="MedicationID" name="MedicationID" required readonly>

                <label for="MedicationType">Medication Type:</label>
                <input type="text" id="MedicationType" name="MedicationType" required readonly>

                <label for="MedicationName">Medication Name:</label>
                <input type="text" id="MedicationName" name="MedicationName" required>


                <div class="button-container">
                    <button class="btn btn-outline-primary" type="submit">Update Name</button>
                </div>
            </form>
            <div class="button-container">
                <button class="btn btn-outline-primary" onclick="HideUpdateForm()" type="submit">Hide</button>
            </div>
        </div>

        <!--Add Form Code-->
        <div class="AddForm" id="AddForm" style="display:none;">
            <h1>Add Medication</h1>
            <form method="post" asp-action="AddMedication">


                <label for="MedicationType">Medication Type:</label>
                <input type="text" id="MedicationType" name="MedicationType" required>

                <label for="MedicationName">Medication Name:</label>
                <input type="text" id="MedicationName" name="MedicationName" required>

                <div class="button-container">
                    <button class="btn btn-outline-primary" type="submit">Add Medication</button>
                </div>
                <div class="button-container">
                    <button class="btn btn-outline-primary" onclick="HideAddForm()" type="submit">Hide</button>
                </div>
            </form>
        </div>
        <a class="btn btn-outline-info" asp-area="" asp-controller="Home" asp-action="Index">
            <h6>Back</h6>
        </a>
    </div>

</body>
<script>

    function showUpdateForm(MedicationID, MedicationType, MedicationName) {

        //shows the form
        var updateForm = document.getElementById("updateForm");
        updateForm.style.display = "block";


        var MedicationIDInput = document.getElementById("MedicationID");
        MedicationIDInput.value = MedicationID;

        var MedicationTypeInput = document.getElementById("MedicationType");
        MedicationTypeInput.value = MedicationType;

        var MedicationNameInput = document.getElementById("MedicationName");
        MedicationNameInput.value = MedicationName;

    }
    function showAddForm() {
        //shows the form
        var updateForm = document.getElementById("AddForm");
        AddForm.style.display = "block";
    }
    function HideAddForm() {
        var updateForm = document.getElementById("AddForm");
        AddForm.style.display = "none";
    }
    function HideUpdateForm() {
        var updateForm = document.getElementById("updateForm");
        updateForm.style.display = "none";
    }
</script>