@using WardManagementSystem.Data.Models.ViewModels
@{
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}
@{
    ViewData["Title"] = "DisplayAll";
}
@{
    IEnumerable<VisitNoteViewModel> visitNoteViewModels = ViewData["VisitNoteViewModel"] as IEnumerable<VisitNoteViewModel>;
    IEnumerable<PatientFileFullNameViewModel> patientComboViewModels = ViewData["PatientComboViewModel"] as IEnumerable<PatientFileFullNameViewModel>;
}
<style>
    body {
        background-image: url('/snake_icon.png');
        /* background-size: cover; */
        background-repeat: no-repeat;
        background-position: right;
    }
    a.link {
        color: white;
        text-decoration: none;
    }

    a:hover.link {
        color: white;
    }
</style>
<h1>Visit Notes</h1>

<button type="button" class="btn btn-primary btn-sm"><a class="link" asp-action="Add">Create New Visit Note</a></button>
<button type="button" class="btn btn-primary btn-sm"><a class="link" asp-action="DisplayAll">View All Visit Notes</a></button>
<hr />


<body>
    @* Alert letting the user know whether the record was inserted or not *@
    @if (TempData["msg"] != null)
    {
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            @TempData["msg"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @* Drop down list that displays patient name but has patientID as its value *@
    @using (Html.BeginForm("DisplayAll", "Visit", FormMethod.Get))
    {
        <label>Select Patient:</label>
        @Html.DropDownList("PatientFileID", (SelectList)@ViewBag.SelectList, "-select-", htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="Search" class="btn btn-primary" />
    }

    @if (visitNoteViewModels != null && visitNoteViewModels.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Patient Full Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Visit Note</th>
                    <th scope="col">Ready For Discharge</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (VisitNoteViewModel visitNoteViewModel in visitNoteViewModels)
                {
                    <tr>
                        <td>@visitNoteViewModel.PatientName</td>
                        <td>@visitNoteViewModel.Date.ToString("dd/MM/yyyy")</td>
                        <td>@visitNoteViewModel.VisitNote</td>
                        <td>@visitNoteViewModel.DischargePatient</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = visitNoteViewModel.VisitID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = visitNoteViewModel.VisitID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Please select a recored or there are no records available for the selected patient</p>
    }

    

</body>

