@using WardManagementSystem.Data.Models.ViewModels

@{
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}

@* Retrieving data from the ViewData and putting them into the ViewModels for displaying purposes *@
@{

    IEnumerable<PatientFileViewModel> patientFileViewModels = ViewData["PatientFileViewModel"] as IEnumerable<PatientFileViewModel>;
    IEnumerable<PatientChronicConditionViewModel> patientChronicConditionViewModels = ViewData["PatientChronicConditionViewModel"] as IEnumerable<PatientChronicConditionViewModel>;
    IEnumerable<PatientAllergyViewModel> patientAllergyViewModels = ViewData["PatientAllergyViewModel"] as IEnumerable<PatientAllergyViewModel>;
    IEnumerable<PatientMedicationViewModel> patientMedicationViewModels = ViewData["PatientMedicationViewModel"] as IEnumerable<PatientMedicationViewModel>;
    IEnumerable<PatientTreatmentViewModel> patientTreatmentViewModels = ViewData["PatientTreatmentViewModel"] as IEnumerable<PatientTreatmentViewModel>;
    IEnumerable<PatientVitalsViewModel> patientVitalsViewModels = ViewData["PatientVitalsViewModel"] as IEnumerable<PatientVitalsViewModel>;
    IEnumerable<PatientFullNameViewModel> patientComboViewModels = ViewData["PatientComboViewModel"] as IEnumerable<PatientFullNameViewModel>;
}

@{
    ViewData["Title"] = "DisplayAll";
}

<style>
    /*  // FIND A WAY TO GET RID OF WHITE SPACE NEXT TO NAVIGATION BAR ON THE RIGHT!!!! */ 
    * {
        box-sizing: border-box;            
    } 

    .row {
        display: flex;
        margin-left: -5px;
        margin-right: -5px;
    }

    .column {
        flex: 50%;
        padding: 5px;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    body {
        background-image: url('/snake_icon.png');
        /* background-size: cover; */
        background-repeat: no-repeat;
        background-position: right;
    }
</style>


<h1>DisplayAll</h1>
<hr />

<body>
    @* Drop down list that displays patient name but has patientID as its value *@
    @using (Html.BeginForm("DisplayAll", "PatientFile", FormMethod.Get))
    {
        @Html.DropDownList("PatientID", (SelectList)@ViewBag.SelectList, "-select-", htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="Search" class="btn btn-primary" />
    }
    @* @Html.DropDownList("PatientID", (SelectList)@ViewBag.SelectList, "-select-", htmlAttributes: new { @class = "form-control" })
    <input type="submit" value="Search" class="btn btn-primary" /> *@

    @if (patientFileViewModels != null && patientFileViewModels.Any())
    {
        <h3>Patient History</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Patient Full Name
                    </th>
                    <th>
                        Arrival Date
                    </th>
                    <th>
                        Ward Name
                    </th>
                    <th>
                        Bed Number
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (PatientFileViewModel patientFileViewModel in patientFileViewModels)
                {
                    <tr>
                        <td>
                            @patientFileViewModel.PatientFullName
                        </td>
                        <td>
                            @patientFileViewModel.ArrivalDate.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @patientFileViewModel.WardName
                        </td>
                        <td>
                            @patientFileViewModel.BedID
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <br />

        <div class="row">
            <div class="column">
                <h3>Patient Chronic Conditions:</h3>
                @if (patientChronicConditionViewModels != null && patientChronicConditionViewModels.Any())
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Chronic Condition
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (PatientChronicConditionViewModel patientChronicConditionViewModel in patientChronicConditionViewModels)
                            {
                                <tr>
                                    <td>
                                        @patientChronicConditionViewModel.ConditionName
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No chronic conditions recorded</p>
                }
            </div>
            <div class="column">
                <h3>Patient Medication:</h3>
                @if (patientMedicationViewModels != null && patientMedicationViewModels.Any())
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Medication Name
                                </th>
                                <th>
                                    Medication Type
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (PatientMedicationViewModel patientMedicationViewModel in patientMedicationViewModels)
                            {
                                <tr>
                                    <td>
                                        @patientMedicationViewModel.MedicationName
                                    </td>
                                    <td>
                                        @patientMedicationViewModel.MedicationType
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No medication recorded</p>
                }
                
            </div>
            <div class="column">
                <h3>Patient Allergy:</h3>
                @if (patientAllergyViewModels != null && patientAllergyViewModels.Any())
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Allergy Name
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (PatientAllergyViewModel patientAllergyViewModel in patientAllergyViewModels)
                            {
                                <tr>
                                    <td>
                                        @patientAllergyViewModel.AllergyName
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No allergies recorded.</p>
                }
                
            </div>
        </div>



        <div class="row">
            <div class="column">
                <h3>Patient Treatment:</h3>
                @if (patientTreatmentViewModels != null && patientTreatmentViewModels.Any())
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Treatment Name
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Time
                                </th>
                                <th>
                                    Surgary
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (PatientTreatmentViewModel patientTreatmentViewModel in patientTreatmentViewModels)
                            {
                                <tr>
                                    <td>
                                        @patientTreatmentViewModel.TreatmentName
                                    </td>
                                    <td>
                                        @patientTreatmentViewModel.Date
                                    </td>
                                    <td>
                                        @patientTreatmentViewModel.Time
                                    </td>
                                    <td>
                                        @patientTreatmentViewModel.SurgaryRoom
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No previous treatment recorded.</p>
                }
                
            </div>
            <div class="column">
                <h3>Patient Vitals:</h3>
                @if (patientVitalsViewModels != null && patientVitalsViewModels.Any())
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Vital Name
                                </th>
                                <th>
                                    Value
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Time
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (PatientVitalsViewModel patientVitalsViewModel in patientVitalsViewModels)
                            {
                                <tr>
                                    <td>
                                        @patientVitalsViewModel.VitalName
                                    </td>
                                    <td>
                                        @patientVitalsViewModel.PatientVitalsValue
                                    </td>
                                    <td>
                                        @patientVitalsViewModel.Date
                                    </td>
                                    <td>
                                        @patientVitalsViewModel.Time
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No previous vitals recorded.</p>
                }
                
            </div>
        </div>
    }
    else
    {
        <p>There are no records available for the current patient</p>
    }
</body>


