﻿<!--Allows the HttpContext to be used within the layout view-->
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
@{
    string LastName = HttpContextAccessor.HttpContext.Session.GetString("LastName");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SCManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SCManagement.styles.css" asp-append-version="true" />
</head>
@{
    int wardAId = 1;







    int wardBId = 2;







    int wardCId = 3;
}
<body>
    <div class="container-fluid d-flex flex-columnx vh-100">
        <div class="row flex-grow-1">
            <div class="bg-dark col-auto col-md-2 d-flex flex-column">
                <ul class="nav nav-pills flex-column mt-4">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Consumables" asp-action="Dashboard">
                            <span class="fs-4 d-none d-sm-inline">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Consumables" asp-action="Details" asp-route-Id="@wardAId">
                            <span class="fs-4 d-none d-sm-inline">Ward A</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Consumables" asp-action="Details" asp-route-Id="@wardBId">
                            <span class="fs-4 d-none d-sm-inline">Ward B</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Consumables" asp-action="Details" asp-route-Id="@wardCId">
                            </i><span class="fs-4 d-none d-sm-inline">Ward C</span>
                        </a>
                    </li>
                    <hr />
                    <li class="nav-item">
                        <p class="text-white">Welcome, Mr. @LastName</p>     <!--Displays doctors name throughout the different views of subsystem-->

                        <span id="datetime" class="text-white"></span>

                        <script>
                            // create a function to update the date and time
                            function updateDateTime() {
                                const now = new Date();
                                const currentDateTime = now.toLocaleString();       //get the current date and time
                                document.querySelector('#datetime').textContent = currentDateTime;  // update the textContent property of the span element
                            }
                            // call the updateDateTime function
                            setInterval(updateDateTime, 100);
                        </script>
                    </li>
                </ul>
            </div>

            <div class="col">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

        </div>
    </div>
    <footer class="border-top footer text-muted bg-dark footer">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
