@model WardManagementSystem.Data.Models.ViewModels.ConsumablesDashboardViewModel
﻿<!--Allows the HttpContext to be used within the layout view-->
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
@{
    string LastName = HttpContextAccessor.HttpContext.Session.GetString("LastName");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SCManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SCManagement.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid d-flex flex-columnx vh-100">
        <div class="row flex-grow-1">
            <div class="bg-dark col-auto col-md-2 d-flex flex-column">
                <ul class="nav nav-pills flex-column mt-4">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Consumables" asp-action="Dashboard">
                            <span class="fs-4 d-none d-sm-inline">Dashboard</span>
                        </a>
                    </li>
                    @foreach (var ward in Model.ConWards)

                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Consumables" asp-action="Details" asp-route-Id="@ward.WardID">
                                <span class="fs-4 d-none d-sm-inline">@ward.WardName</span>
                            </a>
                        </li>
                    }
                </ul>
                <div class="mt-auto p-3">
                    <p class="text-white">Welcome, Mr. @LastName</p>
                    <span id="datetime" class="text-white"></span>
                </div>
            </div>

            <div class="col">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        // create a function to update the date and time
        function updateDateTime() {
            const now = new Date();
            const currentDateTime = now.toLocaleString();       //get the current date and time
            document.querySelector('#datetime').textContent = currentDateTime;  // update the textContent property of the span element
        }
        // call the updateDateTime function
        setInterval(updateDateTime, 100);
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
