@using WardManagementSystem.Data.Models
@using WardManagementSystem.Data.Models.Domain
@* @model ScheduleDashboardView *@

@{
    ViewData["Title"] = "Dashboard";
}

@{
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}

@* retrieving data from the ViewData and creating the two models *@
@{

    IEnumerable<DoctorDashboardViewModel> doctorDashboardViewModels = ViewData["DoctorDashboardViewModel"] as IEnumerable<DoctorDashboardViewModel>;
    ScheduleCountViewModel scheduleCountViewModels = ViewData["ScheduleCountViewModel"] as ScheduleCountViewModel;
    // IEnumerable<LoginViewModel> loginViewModels = ViewData["Doctor"] as LoginViewModel;
}

<style>
    body{
        background-image: url('/snake_icon.png');
        /* background-size: cover; */
        background-repeat: no-repeat;
        background-position: right;
    }
    .container {
        /* display: flex;
        align-items: flex-start;
        height: 100vh; */
        
        /* flex-wrap: wrap; */
    }
    .card{
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        justify-content: space-evenly;
        flex: 1 1 calc(33% - 20px);
    }
</style>

<h1>Dashboard</h1>
<hr />
<body>
<div class="container">
    <div class="card">
        <div class="clickable-row" data-href="@Url.Action("Dashboard", "Schedule")">
            <div class="card-title">
                <h2>Visits Scheduled Today</h2>
                <h3>@scheduleCountViewModels.TodayCount</h3>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-title clickable-row" data-href="@Url.Action("DisplayAll", "Schedule")">
            <h2>Total Visits Scheduled</h2>
            <h3>@scheduleCountViewModels.TotalCount</h3>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Patient Name</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DoctorDashboardViewModel doctorDashboardViewModel in doctorDashboardViewModels)
            {
                <tr>
                    <td>
                        @doctorDashboardViewModel.PatientName
                    </td>
                    <td>
                        @doctorDashboardViewModel.Date.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @doctorDashboardViewModel.Time
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
</body>