@using WardManagementSystem.Data.Models
@* @model ScheduleDashboardView *@

@{
    ViewData["Title"] = "Dashboard";
}

@{
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}

@* retrieving data from the ViewData and creating the two models *@
@{

    IEnumerable<DoctorDashboardViewModel> doctorDashboardViewModels = ViewData["DoctorDashboardViewModel"] as IEnumerable<DoctorDashboardViewModel>;
    ScheduleCountViewModel scheduleCountViewModels = ViewData["ScheduleCountViewModel"] as ScheduleCountViewModel;
}

<h1>Dashboard</h1>

<hr />
<div class="container">
    <div class="card">
        <div class="clickable-row" data-href="@Url.Action("DisplayAll", "Schedule")">
            <div class="card-title">
                <h2>Visits Scheduled Today</h2>
                <h3>@scheduleCountViewModels.TodayCount</h3>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-title clickable-row" data-href="@Url.Action("DisplayAll", "Schedule")">
            <h2>Total Visits Scheduled</h2>
            <h3>@scheduleCountViewModels.TotalCount</h3>
        </div>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                DoctorID
            </th>
            <th>
                PatientName
            </th>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@* @foreach (var item in Model.DoctorDashboardViewModel) *@
        @foreach (DoctorDashboardViewModel doctorDashboardViewModel in doctorDashboardViewModels)
        {
        <tr>
            <td>
                    @doctorDashboardViewModel.DoctorID
            </td>
            <td>
                    @doctorDashboardViewModel.PatientName
            </td>
            <td>
                    @doctorDashboardViewModel.Date
            </td>
            <td>
                    @doctorDashboardViewModel.Time
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
