@using WardManagementSystem.Data.Models.ViewModels
@{
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}
@{
    ViewData["Title"] = "DisplayAll";
}
@{
    IEnumerable<ScheduleDisplayViewModel> scheduleDisplayViewModels = ViewData["ScheduleDisplayViewModel"] as IEnumerable<ScheduleDisplayViewModel>;
    IEnumerable<PatientFullNameViewModel> patientComboViewModels = ViewData["PatientComboViewModel"] as IEnumerable<PatientFullNameViewModel>;
}

<style>
    a {
        color: white;
        text-decoration: none;
    }

    a:hover{
        color: white;
    }
</style>
<h1>Patient Schedules</h1>

<button type="button" class="btn btn-primary btn-sm"><a asp-action="Add">Create New Schedule</a></button>
<button type="button" class="btn btn-primary btn-sm"><a asp-action="DisplayAll">View All Schedules</a></button>


@* Drop down list that displays patient name but has patientID as its value *@
@using (Html.BeginForm("DisplayAll", "Schedule", FormMethod.Get))
{
    <label>Select Patient:</label>
    @Html.DropDownList("PatientID", (SelectList)@ViewBag.SelectList, "-select-", htmlAttributes: new { @class = "form-control" })
    <input type="submit" value="Search" class="btn btn-primary" />
}

@if (scheduleDisplayViewModels != null && scheduleDisplayViewModels.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    PatientFullName
                </th>
                <th>
                    Date
                </th>
                <th>
                    Time
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (ScheduleDisplayViewModel scheduleDisplayViewModel in scheduleDisplayViewModels)
            {
                <tr>
                    <td>
                            @scheduleDisplayViewModel.PatientFullName
                    </td>
                    <td> 
                        @* @Html.DisplayFor(modelItem => item.Date.ToString("yyyy-MM-dd")) *@   @*Find a way to make this work*@
                             @scheduleDisplayViewModel.Date
                    </td>
                    <td>
                            @scheduleDisplayViewModel.Time
                    </td>
                    <td> 
                        @* @Html.ActionLink("Edit", "Edit", new {  id = item.ScheduleID }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ScheduleID }) *@
                     </td>
                </tr>
            }
        </tbody>
    </table> 
}
