@using WardManagementSystem.Data.Models.ViewModels
@{
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}
@{
    ViewData["Title"] = "DisplayAll";
}
@{
    IEnumerable<PatientScriptViewModel> patientScriptViewModels = ViewData["PatientScriptViewModel"] as IEnumerable<PatientScriptViewModel>;
    IEnumerable<PatientFullNameViewModel> patientComboViewModels = ViewData["PatientComboViewModel"] as IEnumerable<PatientFullNameViewModel>;
}

<style>
    body {
        background-image: url('/snake_icon.png');
        /* background-size: cover; */
        background-repeat: no-repeat;
        background-position: right;
    }
    a.link {
        color: white;
        text-decoration: none;
    }

    a:hover.link {
        color: white;
    }
</style>
<h1>Patient Script Medication</h1>

<button type="button" class="btn btn-primary btn-sm"><a class="link" asp-action="Add">Create New Script</a></button>
<button type="button" class="btn btn-primary btn-sm"><a class="link" asp-action="DisplayAll">View All Patient Scripts</a></button>
<hr />

<body>
    @* Alert letting the user know whether the record was inserted or not *@
    @if (TempData["msg"] != null)
    {
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            @TempData["msg"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @* Drop down list that displays patient name but has patientID as its value *@
    @using (Html.BeginForm("DisplayAll", "Script", FormMethod.Get))
    {
        <label>Select Patient:</label>
        @Html.DropDownList("PatientFileID", (SelectList)@ViewBag.SelectList, "-select-", htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="Search" class="btn btn-primary" />
    }

    @if (patientScriptViewModels != null && patientScriptViewModels.Any())
    {


        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Patient Full Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Medication Name</th>
                    <th scope="col">Dosage</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (PatientScriptViewModel patientScriptViewModel in patientScriptViewModels)
                {
                    <tr>
                        <td>@patientScriptViewModel.PatientName</td>
                        <td>
                            @patientScriptViewModel.Date.ToString("dd/MM/yyyy")
                        </td>
                        <td>@patientScriptViewModel.MedicationName</td>
                        <td>@patientScriptViewModel.Dosage</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@patientScriptViewModel.ScriptID" class="btn btn-primary">Edit</a>
                            <form asp-action="Delete" asp-route-id="@patientScriptViewModel.ScriptID" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <p>Please select a recored or there are no records available for the selected patient</p>
    }

     

</body>

