@using WardManagementSystem.Data.Models.ViewModels
@{
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}
@{
    ViewData["Title"] = "DisplayAll";
}
@{
    IEnumerable<PatientScriptViewModel> patientScriptViewModels = ViewData["PatientScriptViewModel"] as IEnumerable<PatientScriptViewModel>;
    IEnumerable<PatientFullNameViewModel> patientComboViewModels = ViewData["PatientComboViewModel"] as IEnumerable<PatientFullNameViewModel>;
}

<style>
    body {
        background-image: url('/snake_icon.png');
        /* background-size: cover; */
        background-repeat: no-repeat;
        background-position: right;
    }
    a.link {
        color: white;
        text-decoration: none;
    }

    a:hover.link {
        color: white;
    }
</style>
<h1>Patient Script Medication</h1>

<button type="button" class="btn btn-primary btn-sm"><a class="link" asp-action="Add">Create New Script</a></button>
<button type="button" class="btn btn-primary btn-sm"><a class="link" asp-action="DisplayAll">View All Patient Scripts</a></button>
<hr />

<body>
    @* Alert letting the user know whether the record was inserted or not *@
    @if (TempData["msg"] != null)
    {
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            @TempData["msg"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @* Drop down list that displays patient name but has patientID as its value *@
    @using (Html.BeginForm("DisplayAll", "Script", FormMethod.Get))
    {
        <label>Please select the patient's file you would like to view:</label>
        @Html.DropDownList("PatientFileID", (SelectList)@ViewBag.SelectList, "-select-", htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="Search" class="btn btn-primary" />
    }

    @if (patientScriptViewModels != null && patientScriptViewModels.Any())
    {
        @* <form asp-action="DisplayScriptListP" method="get">
            <label for="SearchDate">Search by Date:</label>
            <input type="date" class="form-control" id="SearchDate" name="searchDate" value="@DateTime.Now.ToString("yyyy-MM-dd")">
            <button type="submit" class="btn btn-outline-primary">Search</button>
        </form> *@

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Patient Full Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Medication Name</th>
                    <th scope="col">Dosage</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (PatientScriptViewModel patientScriptViewModel in patientScriptViewModels)
                {
                    <tr>
                        <td>@patientScriptViewModel.PatientName</td>
                        <td>
                            @patientScriptViewModel.Date.ToString("dd/MM/yyyy")
                        </td>
                        <td>@patientScriptViewModel.MedicationName</td>
                        <td>@patientScriptViewModel.Dosage</td>
                        <td>
                            <!--Edit button-->
                            <form asp-action="Edit" method="get">
                                <input asp-for="@patientScriptViewModel.ScriptID" type="hidden" name="Id" value="@patientScriptViewModel.ScriptID" />
                                <button class="btn btn-outline-secondary" type="submit">Edit</button>
                            </form>

                            <!-- Delete Confirmation Modal -->
                            <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Delete</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete this Script Detail?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <form id="deleteScriptForm" asp-action="Delete" method="post">
                                                <input type="hidden" name="Id" id="scriptID" />
                                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form>
                                <input type="hidden" name="Id" value="@patientScriptViewModel.ScriptID" />
                                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal" onclick="setId('@patientScriptViewModel.ScriptID')">Delete</button>
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <p>Please select a recored or there are no records available for the selected patient</p>
    }

     

</body>

<script>
    function setId(scriptID) {
        document.getElementById('scriptID').value = scriptID;
    }
</script>