@using WardManagementSystem.Data.Models.ViewModels
@{
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}
@{
    ViewData["Title"] = "DisplayAll";
}
@{
    IEnumerable<PatientInstructionViewModel> patientInstructionViewModels = ViewData["PatientInstructionViewModel"] as IEnumerable<PatientInstructionViewModel>;
    IEnumerable<PatientFileFullNameViewModel> patientComboViewModels = ViewData["PatientComboViewModel"] as IEnumerable<PatientFileFullNameViewModel>;
}
<style>
    a.link {
        color: white;
        text-decoration: none;
    }

    a:hover.link {
        color: white;
    }
</style>
<h1>Patient Instructions</h1>

<button type="button" class="btn btn-primary btn-sm"><a class="link" asp-action="Add">Create New Instruction</a></button>
<button type="button" class="btn btn-primary btn-sm"><a class="link" asp-action="DisplayAll">View All Patient Instructions</a></button>

@* Drop down list that displays patient name but has patientID as its value *@
@using (Html.BeginForm("DisplayAll", "PatientInstruction", FormMethod.Get))
{
    <label>Select Patient:</label>
    @Html.DropDownList("PatientFileID", (SelectList)@ViewBag.SelectList, "-select-", htmlAttributes: new { @class = "form-control" })
    <input type="submit" value="Search" class="btn btn-primary" />
}

@if (patientInstructionViewModels != null && patientInstructionViewModels.Any())
{


    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Patient Full Name</th>
                <th scope="col">Instruction</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (PatientInstructionViewModel patientInstructionViewModel in patientInstructionViewModels)
            {
                <tr>
                    <td>@patientInstructionViewModel.PatientName</td>
                    <td>@patientInstructionViewModel.Instruction</td>
                    <td>@patientInstructionViewModel.Date.ToString("dd/MM/yyyy")</td>
                    <td>
                            @Html.ActionLink("Edit", "Edit", new { id = patientInstructionViewModel.PatientInstructionID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = patientInstructionViewModel.PatientInstructionID })
                    </td>
                </tr>
            }

        </tbody>
    </table>
}