@using WardManagementSystem.Data.Models.ViewModels
@{
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}
@{
    ViewData["Title"] = "DisplayAll";
}
@{
    IEnumerable<PatientInstructionViewModel> patientInstructionViewModels = ViewData["PatientInstructionViewModel"] as IEnumerable<PatientInstructionViewModel>;
    IEnumerable<PatientFileFullNameViewModel> patientComboViewModels = ViewData["PatientComboViewModel"] as IEnumerable<PatientFileFullNameViewModel>;
}
<style>
    body {
        background-image: url('/snake_icon.png');
        background-repeat: no-repeat;
        background-position: right;
        /* background-size: auto; */
    }
    a.link {
        color: white;
        text-decoration: none;
    }

    a:hover.link {
        color: white;
    }
</style>
<h1>Patient Instructions</h1>

<button type="button" class="btn btn-primary btn-sm"><a class="link" asp-action="Add">Create New Instruction</a></button>
<button type="button" class="btn btn-primary btn-sm"><a class="link" asp-action="DisplayAll">View All Patient Instructions</a></button>
<hr />

<body>
    @* Alert letting the user know whether the record was inserted or not *@
    @if (TempData["msg"] != null)
    {
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            @TempData["msg"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @* Drop down list that displays patient name but has patientID as its value *@
    @using (Html.BeginForm("DisplayAll", "PatientInstruction", FormMethod.Get))
    {
        <label>Select Patient:</label>
        @Html.DropDownList("PatientFileID", (SelectList)@ViewBag.SelectList, "-select-", htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="Search" class="btn btn-primary" />
    }

    @if (patientInstructionViewModels != null && patientInstructionViewModels.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Patient Full Name</th>
                    <th scope="col">Instruction</th>
                    <th scope="col">Date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (PatientInstructionViewModel patientInstructionViewModel in patientInstructionViewModels)
                {
                    <tr>
                        <td>@patientInstructionViewModel.PatientName</td>
                        <td>@patientInstructionViewModel.Instruction</td>
                        <td>@patientInstructionViewModel.Date.ToString("dd/MM/yyyy")</td>
                        <td>
                            <!--Edit button-->
                            <form asp-action="Edit" method="get">
                                <input asp-for="@patientInstructionViewModel.PatientInstructionID" type="hidden" name="Id" value="@patientInstructionViewModel.PatientInstructionID" />
                                <button class="btn btn-outline-secondary" type="submit">Edit</button>
                            </form>

                            <!-- Delete Confirmation Modal -->
                            <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Delete</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete this Instruction?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <form id="deleteInstructionForm" asp-action="Delete" method="post">
                                                <input type="hidden" name="Id" id="patientInstructionID" />
                                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form>
                                <input type="hidden" name="Id" value="@patientInstructionViewModel.PatientInstructionID" />
                                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal" onclick="setId('@patientInstructionViewModel.PatientInstructionID')">Delete</button>
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <p>Please select a recored or there are no records available for the selected patient</p>
    }

</body>

<script>
    function setId(patientInstructionID) {
        document.getElementById('patientInstructionID').value = patientInstructionID;
    }
</script>