@model IEnumerable<WardManagementSystem.Data.Models.Domain.Patient_Instruction>
@{
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}
@{
    ViewData["Title"] = "DisplayAll";
}
<style>
    a {
        color: white;
        text-decoration: none;
    }

    a:hover{
        color: white;
    }
</style>
<h1>Patient Instructions</h1>

<button type="button" class="btn btn-primary btn-sm"><a asp-action="Add">Create New Instruction</a></button>
<button type="button" class="btn btn-primary btn-sm"><a asp-action="DisplayAll">View All Patient Instructions</a></button>

<br />
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientInstructionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientFileID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instruction)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientInstructionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientFileID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instruction)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.PatientInstructionID  }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.PatientInstructionID })
            </td>
        </tr>
}
    </tbody>
</table>
